body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.css-login-tag {
  color: purple;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 20px;
}
.css-login-tag:hover {
  color: #2980b9; /* Màu khi hover */
  text-decoration: underline; /* Gạch dưới khi hover */
}

.css-login-tag:focus {
  outline: none; /* Bỏ viền khi được chọn */
  color: #2980b9; /* Màu khi được chọn */
}
img {
  max-width: 100%;
  height: auto;
}
.question {
  margin: 20px 0;
  font-size: 24px;
}
.answer {
  padding: 10px;
  font-size: 18px;
}

.running-pig {
  width: 100px; /* Kích thước hình ảnh */
  position: relative;
  animation: run 2s infinite alternate; /* Hiệu ứng animation */
}

@keyframes run {
  0% {
    left: 0; /* Vị trí ban đầu */
  }
  100% {
    left: 300px; /* Vị trí cuối */
  }
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}
input {
  padding: 10px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
}
#message {
  margin-top: 20px;
  font-size: 20px;
}
.running-pig {
  width: 200px;
  height: auto;
}
/* Thêm một số CSS cho form đăng ký và đăng nhập */
#registrationForm,
#loginForm {
  display: none; /* Ẩn form khi tải trang */
  margin-bottom: 20px;
}

#loginLink {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  color: blue;
}
#logoutButton {
  border: none;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* display: block; */
  margin-top: 27px;
}
